# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.xcworkspace/xcuserdata/
*.moved-aside
*.pbxuser

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# XcodeGen
*.xcodeproj/project.xcworkspace/xcuserdata/
